.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.square {
  border: 1px solid black;
  display: inline-block;
  margin-bottom: -1px;
  margin-left: -1px;
  width: 15px;
  height: 15px;
}

.grid {
  line-height: 0;
  width: 160px;
}