body {
  background-color: #ccc;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}

.App {
  text-align: center;
}

h1 {
  font-size: 2em;
  padding: 30px;
}

button {
  background-color: indianred;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  font-size: 1em; 
  margin: 0 5px;
}

.cell {
  border: 1px solid black;
  display: inline-block;
  margin-bottom: -1px;
  margin-left: -1px;
  width: 15px;
  height: 15px;
}

.dead {
  background-color: rgb(50,50,50);
}

.alive {
  background-color: indianred;
}

.grid {
  border-radius: 10px;
  line-height: 0;
  margin: 30px auto;

}
